<section class="section">
  <div class="container">
    <h2 class="title experience-title">Coffee Moments</h2>

    <p class="experience-subtitle">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <ul class="experience-list">
      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-1.jpg       1x,
            /img/2x/experience-img-1@2x.jpg 2x
          "
          src="/img/experience-img-1.jpg"
          alt="Ceramic cup with a latte"
          width="288"
          height="288"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-2.jpg       1x,
            /img/2x/experience-img-2@2x.jpg 2x
          "
          src="/img/experience-img-2.jpg"
          alt="A breakfast scene"
          width="288"
          height="288"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-3.jpg       1x,
            /img/2x/experience-img-3@2x.jpg 2x
          "
          src="/img/experience-img-3.jpg"
          alt="A quiet cafe interior"
          width="288"
          height="162"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-4.jpg       1x,
            /img/2x/experience-img-4@2x.jpg 2x
          "
          src="/img/experience-img-4.jpg"
          alt="Hands of a barista making a coffee"
          width="288"
          height="162"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-5.jpg       1x,
            /img/2x/experience-img-5@2x.jpg 2x
          "
          src="/img/experience-img-5.jpg"
          alt="A wide view of the CoffeeJoy interior"
          width="288"
          height="288"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-6.jpg       1x,
            /img/2x/experience-img-6@2x.jpg 2x
          "
          src="/img/experience-img-6.jpg"
          alt="Two coffee cups on a table"
          width="288"
          height="288"
        />
      </li>

      <li class="experience-item">
        <img
          class="experience-item-img"
          srcset="
            /img/experience-img-7.jpg       1x,
            /img/2x/experience-img-7@2x.jpg 2x
          "
          src="/img/experience-img-7.jpg"
          alt="A takeaway coffee cup"
          width="288"
          height="391"
        />
      </li>
    </ul>
  </div>
</section>
