<div class="mob-menu" data-menu>

	<div class="container header-container">
		<div class="mob-top-menu">
	  	<a href="/index.html" class="link logo">
	    	<svg class="icon icon-logo" width="84" height="36">
	      	<use href="/img/icons/icons.svg#icon-logo"></use>
	    	</svg>
	  	</a>
	
			<button type="button" class="btn menu-close-btn" data-menu-close>
	    	<svg class="icon icon-close-btn" width="24" height="24">
	    	  <use href="/img/icons/icons.svg#icon-close-btn"></use>
	    	</svg>
	  	</button>
		</div>
	
	  <nav class="mob-menu-nav">
	    <ul class="mob-menu-list nav-list">
	      <li class="mob-menu-item nav-item">
	        <a href="#" class="mob-menu-link nav-link"> About us </a>
	      </li>
	      <li class="mob-menu-item nav-item">
	        <a href="#" class="mob-menu-link nav-link"> Benefits </a>
	      </li>
	      <li class="mob-menu-item nav-item">
	        <a href="#" class="mob-menu-link nav-link"> Gallery </a>
	      </li>
	      <li class="mob-menu-item nav-item">
	        <a href="#" class="mob-menu-link nav-link"> Testimonial </a>
	      </li>
	      <li class="mob-menu-item nav-item">
	        <a href="#" class="mob-menu-link nav-link"> Location </a>
	      </li>
	    </ul>
	  </nav>
	</div>
</div>
