<section id="benefits" class="section">
  <div class="container quality-container">
		<div class="quality-content">
			<span class="quality-span">Quality</span>
			<h2 class="title quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
			<p class="benefits-text">
				At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas. Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
			</p>
		</div>

		<ul class="benefits-list">
			<li class="benefits-item">
				<img
					srcset="/img/quality-img-1.jpg 		1x,
									/img/2x/quality-img-1@2x.jpg 2x" 
					src="/img/quality-img-1.jpg" 
					alt="Freshly roasted coffee beans" 
					class="benefits-img"
					width="288"
					height="164">
				<h3 class="benefits-subtitle">
					Fresh-Roasted Coffee for Every Taste
				</h3>
				<p class="benefits-item-text">
					Savor the rich flavors of our expertly sourced beans.
				</p>
			</li>
			<li class="benefits-item">
				<img
					srcset="/img/quality-img-2.jpg 		1x,
									/img/2x/quality-img-2@2x.jpg 2x" 
					src="/img/quality-img-2.jpg" 
					alt="Professional barista preparing coffee" 
					class="benefits-img"
					width="288"
					height="164">
				<h3 class="benefits-subtitle">
					Expert Baristas Crafting Your Perfect Brew
				</h3>
				<p class="benefits-item-text">
					Our baristas are passionate about coffee and skilled in their craft.
				</p>
			</li>
			<li class="benefits-item">
				<img
					srcset="/img/quality-img-3.jpg 		1x,
									/img/2x/quality-img-3@2x.jpg 2x" 
					src="/img/quality-img-3.jpg" 
					alt="Cozy coffee shop interior" 
					class="benefits-img"
					width="288"
					height="164">
				<h3 class="benefits-subtitle">
					Cozy Atmosphere
				</h3>
				<p class="benefits-item-text">
					We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.
				</p>
			</li>
		</ul>
	</div>
</section>
