<section class="section">
	<div class="container">
		<h2 class="title testimonials-title">
			What our visitors say
		</h2>

		<ul class="testimonials-list">
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"Every cup feels like a warm hug! I’m addicted to their seasonal flavors!"
				</blockquote>	
				<cite class="testimonials-cite">
					Name Surname
				</cite>	
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always friendly."
				</blockquote>
				<cite class="testimonials-cite">
					Alice Johnson
				</cite>
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"
				</blockquote>
				<cite class="testimonials-cite">
					Michael Smith
				</cite>
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"The pastries are to die for! I can’t resist pairing them with my favorite latte. Highly recommend this spot!"
				</blockquote>
				<cite class="testimonials-cite">
					Emily Davis
				</cite>
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"
				</blockquote>
				<cite class="testimonials-cite">
					James Brown
				</cite>
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>
				<blockquote class="testimonials-quote">
					"The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"
				</blockquote>	
				<cite class="testimonials-cite">
					Sarah Wilson
				</cite>
			</li>

			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"I’m addicted to their seasonal flavors! Each one is crafted with such care and creativity."
				</blockquote>
				<cite class="testimonials-cite">
					Chris Lee
				</cite>
			</li>
			<li class="testimonials-list-item">
				<ul class="rating-stars-list">
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item filled">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
					<li class="rating-stars-item">
						<svg height="20" width="20">
							<use href="../img/icons/icons.svg#icon-star-filled"></use>
						</svg>
					</li>
				</ul>	
				<blockquote class="testimonials-quote">
					"I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"
				</blockquote>
				<cite class="testimonials-cite">
					Patricia Taylor
				</cite>
			</li>
		</ul>
	</div>
</section>