<section id="testimonial" class="section">
  <div class="container">
    <h2 class="title testimonials-title">What our visitors say</h2>

    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="testimonials-author">Name Surname</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <p class="testimonials-author">Alice Johnson</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <p class="testimonials-author">Michael Smith</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="testimonials-author">Emily Davis</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="testimonials-author">James Brown</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <p class="testimonials-author">Sarah Wilson</p>
      </li>

      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <p class="testimonials-author">Chris Lee</p>
      </li>
      <li class="testimonials-list-item">
        <ul class="rating-stars-list">
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item filled">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
          <li class="rating-stars-item">
            <svg height="20" width="20">
              <use href="/img/icons/icons.svg#icon-star-filled"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials-quote">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="testimonials-author">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
