<section id="welcome">
  <div class="container">
    <div class="welcome-content">
      <div class="welcome-content-wrapper">
        <p class="welcome">Welcome</p>
        <h2 class="title welcome-title">
          OUR JOURNEY: PASSION FOR QUALITY COFFEE
        </h2>
      </div>
      <div class="right-content">
        <p class="welcome-description">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="btn-location">
          <span>Find location</span>
          <svg class="icon-map" width="24" height="24">
            <use href="/img/icons/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="image-container">
      <img src="/img/welcome-img.jpg" alt="Приготування кави" />
    </div>
  </div>
</section>
