<section id="welcome" class="section">
  <div class="container">
    <div class="welcome-content">
      <h2 class="title welcome-title">
        Our Journey: Passion for Quality Coffee
      </h2>

      <div class="welcome-text-link-wrapper">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>

        <a class="welkome-link" href="#location"
          >Find location
          <svg class="welcome-svg" width="24" height="24">
            <use href="/img/icons/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>

    <img
      class="welcome-img"
      src="/img/welcome-img.jpg"
      srcset="/img/welcome-img.jpg 1x, /img/2x/welcome-img@2x.jpg 2x"
      alt="Barista preparing coffee"
      width="1312"
      height="738"
    />
  </div>
</section>
