.footer {
  background: var(--color-coffee);
  padding: 24px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4a68a;
  border-radius: 40px;
  padding: 40px 20px;
  margin-bottom: 24px;
}

.footer-logo-social-container {
  display: block;
}

.footer-logo {
  display: block;
  line-height: 0;
  margin-bottom: 40px;
}

.footer-logo-icon {
  width: 146px;
  height: 84px;
  fill: #1c1c1e;
}

.footer-social-list {
  display: flex;
  gap: 12px;

  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.footer-social-link:hover,
.footer-social-link:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

.footer-social-icon {
  fill: #1c1c1e;
  width: 32px;
  height: 32px;
}

.footer-nav {
  width: 100%;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  opacity: 0.7;
}

.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-text-color);
  text-align: center;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0 24px;
  }

  .footer-logo-social-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 32px;
    margin-bottom: 16px;
    gap: 32px;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-logo-icon {
    width: 84px;
    height: 36px;
  }

  .footer-social-list {
    gap: 12px;
    margin-bottom: 0;
  }

  .footer-nav {
    width: auto;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-social-icon {
    width: 24px;
    height: 24px;
  }

  .footer-copyright {
    text-align: center;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .footer {
    padding: 24px 0 24px;
  }

  .footer-logo-social-container {
    gap: 40px;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 48px;
    margin-bottom: 32px;
    gap: 0;
  }

  .footer-logo-icon {
    width: 63px;
    height: 36px;
  }

  .footer-social-list {
    gap: 12px;
  }

  .footer-nav-list {
    gap: 32px;
    flex-wrap: nowrap;
  }
}
