.header {
  padding: 18px 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-logo {
  padding: 0 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}


/* Menu styles */
.btn-menu {
  line-height: 0;

  padding: 12px;
}