.header {
  padding: 18px 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  line-height: 0;
}

.icon-logo {
  padding: 0 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

/* Menu styles */
.btn-menu {
  line-height: 0;
  padding: 12px;
}

.nav-menu {
  display: none;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.nav-link {
  transition: opacity 250ms ease;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.5;
}

.nav-link:active {
  opacity: 0.7;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-menu {
    display: none;
  }

  .nav-menu {
    display: block;
  }
}
