.hero-section {
  padding: 0px;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-resolution: 2x) {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/2x/hero-img@2x.jpg);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container {
  padding: 0 32px;
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  color: var(--white-text-color);
  margin-bottom: 24px;
}

.hero-subtitle {
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text-color);
  margin-bottom: 32px;
}

.hero-link {
  display: inline-block;
  border-radius: 100px;
  padding: 10px 24px;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--btn-bg-color);
  opacity: 1;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text-color);
}

.hero-link:hover,
.hero-link:focus {
    opacity: 0.5;
}

.hero-link:active {
    opacity: 1;
    box-shadow: none
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .hero-container {
    padding: 0 176px 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .hero-container {
    padding: 0 816px 0 64px;
  }

  .hero-title {
    font-size: 56px;
  }
}
