/* Styles for Mobile devices */

.location-content {
    margin-bottom: 32px;
}

.location-find {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.location-title {
    margin-bottom: 24px;
}

.location-description {
    margin-bottom: 40px;
}

.location-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.location-icon {
    margin-bottom: 16px;
}

.location-icon,
.location-arrow-icon {
    fill: var(--main-text-color, #0b0803);
}

.location-label {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: var(--second-family);
}

.location-link {
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: opacity 250ms ease;
}

.location-link:hover,
.location-link:focus {
    opacity: 0.5;
}

.location-link:active {
    opacity: 0.7;
} 

.location-address {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 16px;
}

.location-directions {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: baseline;
    column-gap: 16px;
    transition: opacity 250ms ease;
}

.location-directions:hover,
.location-directions:focus {
    opacity: 0.5;
}

.location-directions:active {
    opacity: 0.7;
}

.location-map-wrapper {
    overflow: hidden;
    border-radius: 40px;
    height: 307px;
}

.location-map {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .location-label {
        font-size: 20px;
    }

    .location-map-wrapper {
        height: 377px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .location-list {
        display: flex;
        column-gap: 40px;
    }
    
    .location-list-item {
        margin: 0;
        flex-basis: calc((100% - 40px * 2) / 3);
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .location-content {
        min-width: 419px;
    }
    .location-container {
        display: flex;
        column-gap: 24px;
    }

    .location-map-wrapper {
        height: 697px;
        flex-grow: 1;
    }
}