.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	
	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	background-color: var(--main-bg-color);
}

.mob-top-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 18px 0;
}

.btn {}

.menu-close-btn {
	line-height: 0;

	padding: 12px;
}

.icon {}

.icon-close-btn {}

.mob-menu-nav {
	display: flex;
	justify-content: center;
	
	height: 100%;
}

.mob-menu-list {
	flex-direction: column;
	align-items: center;
}

.nav-list {}

.mob-menu-item {}

.nav-item {}

.mob-menu-link {}

.nav-link {}

.mob-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
	.mob-menu {
		display: none;
	}
}