.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms ease,
    visibility 250ms ease;
  user-select: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  user-select: auto;
}

.popup-wellcome {
  position: relative;
  overflow: auto;
  border-radius: 40px;
  max-width: 288px;
  width: 100%;
  height: 80vh;
  max-height: 631px;
  padding: 64px 16px;
  background-color: var(--main-bg-color, #e0cbb4);
}

.popup-close {
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  color: var(--main-icon-color, #0b0803);
  background: none;
  border: none;
  cursor: pointer;
  fill: var(--main-text-color, #0b0803);
}

.popup-close:hover,
.popup-close:focus {
  opacity: 0.5;
}

.wellcome-popup-title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.wellcome-popup-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}

.wellcome-popup-image {
  border-radius: 24px;
  width: 100%;
  display: block;
  margin: 0 auto 24px;
}

.wellcome-popup-btn {
  display: block;
  border-radius: 100px;
  padding: 10px 24px;
  margin: 0 auto;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--btn-bg-color);
  opacity: 1;
  width: 100%;
  max-width: 340px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-text-color);
  transition: opacity 250ms ease;
}

.wellcome-popup-btn:hover,
.wellcome-popup-btn:focus {
  opacity: 0.5;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .popup-wellcome {
    max-width: 704px;
    max-height: 771px;
    padding: 64px 30px;
  }

  .wellcome-popup-title {
    max-width: 520px;
    font-size: 36px;
    margin: 0 auto 16px;
  }

  .wellcome-popup-text {
    margin: 0 auto 48px;
  }

  .wellcome-popup-image {
    border-radius: 40px;
    margin-bottom: 48px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .popup-wellcome {
    max-width: 866px;
    max-height: 801px;
  }

  .popup-close {
    right: 73px;
  }

  .wellcome-popup-title {
    max-width: 738px;
    font-size: 48px;
  }

  .wellcome-popup-text {
    max-width: 738px;
  }

  .wellcome-popup-image {
    max-width: 644px;
  }

  .wellcome-popup-btn {
    max-width: 274px;
  }
}
