.quality-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.quality-span {
	font-weight: 600;
	font-size: 16px;

	padding-bottom: 16px;
}

.quality-title {
	padding-bottom: 24px;
}

.benefits-text {
	padding-bottom: 32px;
}

.benefits-list {}

.benefits-item {}

.benefits-img {
	max-width: 288px;
	/* height: 164px; */
	margin-bottom: 32px;
}

.benefits-subtitle {
	margin-bottom: 8px;
}

.benefits-item-text {
	font-size: 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
	.benefits-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
	}

	.benefits-item {
		width: calc((100% - 24px) / 2);
	}

	.benefits-item:last-child {
		width: 100%;
	}

	.benefits-img {
		max-width: 340px;
	}
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
	.benefits-item {
		width: calc((100% - 48px) / 3);
	}
	
	.benefits-item:last-child {
		width: calc((100% - 48px) / 3);
	}

}